<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <!---Set the compilation debug to false when in production-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--maxRequestLength Measure in Kilobytes - Total Size of HTTP request including the attachment file
        Supported only for IIS 7.0 - before you change this ask Web Team first-->
    <!--executionTimeout Measure in seconds - the maximum number of seconds that q request is allowed to
        execute before being automatically shutdown by ASP.NET- before you change this ask Web Team first
        This is only applies when debu attribute element is false -->
    <httpRuntime maxRequestLength="100000" executionTimeout="110" requestValidationMode="2.0"/>
    <!--<authentication mode="Windows" />-->
    <identity impersonate="false"/>
  </system.web>
  <appSettings>
    <!--Standard App Settings Do Not Remove-->
    <add key="SystemName" value="REQUEST FOR QUOTATION DATABASE"/>
    <add key="ApplicationID" value=""/>
    <add key="Version" value="1.0.0.0"/>
    <add key="TIPortalStarteKit" value="1.0"/>
    <add key="TIPIS3LogoRedirect" value=""/>
    <add key="TIPIS3Logo" value="http://portal06.tip.toshiba.local/ISD/TIPIS3CommonLogo/IS3 Applications Logo.gif"/>
    <add key="DefaultUserDisplay" value="Guest User"/>
    <add key="FileSize" value="10485760"/>
    <!--Standard App Settings Do Not Alter-->
    <!--Add-ons Put here-->
    <!--Add-ons Put here-->
  </appSettings>
  <connectionStrings>
    <!--Standard Connection Settings Do Not Alter
        Prior on the Actual Production Deployment Please Check Your Connection Settings-->
    <!--PROD - EMPLOYEE MASTER -->
    <add name="MSSQLEmp" connectionString="EMPMAS_1012,123mpl0y33M@st3r10,172.25.128.60,EMPLOYEE_MASTER"/>
	<add name="MSSQLEmp1" connectionString="data source=172.25.128.60;Initial Catalog=EMPLOYEE_MASTER;Integrated Security=False ; User ID=EMPMAS_1012; Password=123mpl0y33M@st3r10" providerName="System.Data.SqlClient" />
	  <!--PROD - TRANSACTION -->
    <add name="MSSQLTrans" connectionString="data source=172.25.128.60;Initial Catalog=RFQDatabase;Integrated Security=False ; User ID=RFQ_2023; Password=20RFQD4T4B4$323" providerName="System.Data.SqlClient"/>
    <!--TEST - TRANSACTION -->
	<!--<add name="MSSQLTrans" connectionString="data source=TIP-SQL-004\MANGO;Initial Catalog=RFQDatabase;Integrated Security=False ; User ID=RFQ2023; Password=20RFQD4T4B4$323" providerName="System.Data.SqlClient"/>-->
	<!--PROD - SYSTEM INFO--> 
    <add name="IS3SysyemProfile" connectionString="data source=172.25.128.60;Initial Catalog=IS3SystemProfile;Integrated Security=False; User ID=10IS3SystemProfile13; Password=10153Syst3mPr0Fil313" providerName="System.Data.SqlClient"/>
    <!--Standard Connection Settings Do Not Alter-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.9.5229.26434" newVersion="5.9.5229.26434"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.1213" newVersion="4.1.7.1213"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>